@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>PizzaCreator is a biggest pizza corperation found by SDSU students, Thang Giang, Marlin Benjamin, Tristan Sizik, and Alfonso Solas</p>
    </p>Your Pizza will be made by us after you choose your options. LETS MAKE PIZZA GREAT AGAIN.....</p>

<p>This is a website for student who love pizza.</p>
