@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    San Diego State University<br />
    San Diego, CA 92182<br />
    <abbr title="Phone">Phone: </abbr>
    619.594.5200
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">pizzamaker@sdsu.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">PizzamakerMarketing@sdsus.edu</a>
</address>
