@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class= "jumbotron">
        <h1> PIZZAMAKER </h1>
</div>

<div class="row">
    <div class="col-md-4 ">
        <h2> Welcome to PizzaMaker</h2>
        <p>
            PizzaMaker is a biggest pizza corperation which make from 
            Group of SDSU students name:
            Thang Giang,
            Marlin,
            Tristan,
            Alfonso,
            Your Pizza will be make by us after you custom your Pizza.
            LET MAKE YOUR ORDERS........
            </p>
        </div>
    <div class=" col-md-4">
        <h2> 
</div>
